
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(35deg, #daf17520, #8fbff5);
}


.weather-card {

  width:  ;
  
  height: 100%;
  padding: 20px;
  border-radius: 16px;

  
  background-image: linear-gradient(
    to bottom,
     #83a4d4 , #b6fbff
  );

  color: #111;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
}


@media (min-width: 768px) {
  .weather-card {
    width: 420px;
    height: 490px;
    padding: 24px;
  }
}


@media (min-width: 1024px) {
  .weather-card {
    width: 480px;
    height: 560px;

    
    background-image: linear-gradient(
      to right ,
     #83a4d4 , #b6fbff
    );
  }
}
